BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
FREQUENCY NET "FCK" 10.000000 MHz ;
BLOCK RD_DURING_WR_PATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK JITTER ;
IOBUF PORT "RCK" PULLMODE=NONE IO_TYPE=LVCMOS25 CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "ND" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "SD" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "ED" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "WD" PULLMODE=NONE IO_TYPE=LVCMOS25 DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS25 PULLMODE=NONE DRIVE=4 CLAMP=ON SLEWRATE=SLOW OPENDRAIN=OFF ;
LOCATE COMP "TP1" SITE "B4" ;
LOCATE COMP "TP2" SITE "C5" ;
LOCATE COMP "TP3" SITE "A5" ;
LOCATE COMP "TP4" SITE "A4" ;
LOCATE COMP "WD" SITE "B1" ;
LOCATE COMP "SDO" SITE "E2" ;
LOCATE COMP "SD" SITE "E5" ;
LOCATE COMP "ND" SITE "D5" ;
LOCATE COMP "ED" SITE "A1" ;
LOCATE COMP "RCK" SITE "E4" ;
LOCATE COMP "IN1" SITE "E3" ;
LOCATE COMP "IN2" SITE "B3" ;
LOCATE COMP "IN3" SITE "C1" ;
LOCATE COMP "IN4" SITE "A3" ;
LOCATE COMP "IN5" SITE "A2" ;
IOBUF PORT "IN1" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "IN2" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "IN3" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "IN4" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "IN5" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF HYSTERESIS=SMALL OPENDRAIN=OFF ;
IOBUF PORT "SDO" IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW DRIVE=4 CLAMP=OFF OPENDRAIN=OFF ;
IOBUF PORT "SDI" IO_TYPE=LVCMOS25 PULLMODE=NONE CLAMP=OFF OPENDRAIN=OFF HYSTERESIS=SMALL ;
LOCATE COMP "SDI" SITE "E1" ;
PRIORITIZE NET "Fast_CK/R1" 100 ;
PRIORITIZE NET "Fast_CK/R2" 100 ;
PRIORITIZE NET "Fast_CK/R3" 100 ;
PRIORITIZE NET "Fast_CK/R4" 100 ;
PRIORITIZE NET "Fast_CK/CO0" 100 ;
