BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MUX_CONFIGURATION_PORTS=ENABLE JTAG_PORT=DISABLE ;
FREQUENCY NET "FCK" 10.000000 MHz ;
BLOCK RD_DURING_WR_PATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
BLOCK JITTER ;
IOBUF PORT "SDI" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "CK" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DN" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DS" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DE" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "DW" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
IOBUF PORT "SDO" PULLMODE=NONE IO_TYPE=LVCMOS25 OPENDRAIN=ON DRIVE=24 ;
IOBUF PORT "TP4" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP3" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP1" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "TP2" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "TP1" SITE "B4" ;
LOCATE COMP "TP2" SITE "C5" ;
LOCATE COMP "TP3" SITE "A5" ;
LOCATE COMP "TP4" SITE "A4" ;
PRIORITIZE NET "Fast_CK/RIN" 100 ;
PRIORITIZE NET "Fast_CK/R1" 100 ;
PRIORITIZE NET "Fast_CK/R2" 100 ;
PRIORITIZE NET "Fast_CK/R3" 100 ;
PRIORITIZE NET "Fast_CK/R4" 100 ;
